
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="https://sharechat.com/assets/svg/lazy/logo-wide.svg">
								   Django Sharechat Studio Dashboard Model
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy; <a target="_blank" href="https://github.com/amruthakrishnap">AmruthaKrishna Hackathon Team</a> 
                       
					</div>				
				</div>
            </footer>
            